<%- include header %>


  <div class="box">
    <div class="">
      <form class="container column is-one-quarter" action="" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input class="button" type="submit" value="submit">
      </form>
    </div>

  </div>



<%- include footer %>
